{
  "extends": "airbnb-base",
  "rules": {
    "import/extensions": [
      "error",
      "always",
      {
        "js": "never",
        "jsx": "never",
        "mjs": "never"
      }
    ]
  },
  "settings": {
    "import/resolver": {
      "node": { "extensions": [".js", ".jsx", ".mjs"] }
    }
  }
}
